In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np
import time
import copy
import datetime
import numba
import timeit
import xgboost as xgb
from sqlalchemy import create_engine
from sklearn.metrics import roc_auc_score

In [2]:
engine = create_engine('postgresql://postgres:@192.168.99.100:5432/nhlstats')
conn = engine.connect()
np.random.seed(42)

In [3]:
df = pd.read_sql('team_stats_public',engine,parse_dates=['gameDate']).set_index('gameId').sort_index()

In [94]:
def slice_team(df,teamSlct,varCode,hist_len=10):
    newdf = {}
    cols = [teamSlct+'_'+varCode+'_L'+x for x in np.arange(1,hist_len+1)[::-1].astype('str')]
    for team in df[teamSlct].unique():
        hist_vals = df[df[teamSlct] == team][varCode].values
        hist_idx = df[df[teamSlct] == team].index
        for date in hist_idx:
            pos = np.searchsorted(hist_idx,date)
            slicer = hist_vals[:pos][-hist_len:]
            if len(slicer)<hist_len:
                slicer = np.insert(slicer,0,-999*np.ones(hist_len-len(slicer)))
            newdf[date] = pd.Series(slicer,index=cols)
    return(df.join(pd.DataFrame(newdf).T))

In [95]:
dd = slice_team(df,'teamAbbrevHome','goalsForHome')

In [96]:
dd

,faceoffWinPctgHome,faceoffsLostHome,faceoffsWonHome,gameDate,goalsAgainstHome,goalsForHome,penaltyKillPctgHome,ppGoalsAgainstHome,ppGoalsForHome,ppOpportunitiesHome,...,teamAbbrevHome_goalsForHome_L10,teamAbbrevHome_goalsForHome_L9,teamAbbrevHome_goalsForHome_L8,teamAbbrevHome_goalsForHome_L7,teamAbbrevHome_goalsForHome_L6,teamAbbrevHome_goalsForHome_L5,teamAbbrevHome_goalsForHome_L4,teamAbbrevHome_goalsForHome_L3,teamAbbrevHome_goalsForHome_L2,teamAbbrevHome_goalsForHome_L1
gameId,,,,,,,,,,,,,,,,,,,,,
2005020001,0.5645,27,35,2005-10-05 23:00:00,2,1,0.8000,1,0,7,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020002,0.4852,35,33,2005-10-05 23:00:00,4,6,0.8571,1,2,11,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020003,0.4843,33,31,2005-10-05 23:00:00,5,3,0.5000,2,1,10,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020004,0.4754,32,29,2005-10-05 23:00:00,2,3,1.0000,0,2,8,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020005,0.4761,33,30,2005-10-05 23:00:00,0,2,1.0000,0,1,8,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020006,0.4754,32,29,2005-10-06 00:00:00,2,2,1.0000,0,1,11,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020007,0.5714,24,32,2005-10-05 23:30:00,1,5,0.9090,1,2,8,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020008,0.4838,32,30,2005-10-05 23:30:00,2,5,1.0000,0,1,6,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020009,0.4821,29,27,2005-10-05 23:30:00,1,5,1.0000,0,1,7,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020010,0.6909,17,38,2005-10-05 23:00:00,2,3,1.0000,0,0,3,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020011,0.4385,32,25,2005-10-05 23:30:00,5,3,0.7777,2,1,9,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020012,0.4242,38,28,2005-10-05 23:00:00,3,6,0.8750,1,2,3,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020013,0.5797,29,40,2005-10-05 23:30:00,4,5,0.7500,1,2,12,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020014,0.6153,25,40,2005-10-06 00:00:00,3,4,1.0000,0,1,7,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020015,0.4915,30,29,2005-10-05 23:30:00,2,3,0.7500,1,0,4,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020016,0.4032,37,25,2005-10-06 23:00:00,4,3,0.9090,1,1,6,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020017,0.5074,33,34,2005-10-06 23:00:00,4,3,0.7142,2,2,11,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020018,0.5454,30,36,2005-10-06 23:30:00,2,3,0.6000,2,2,4,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020019,0.5142,34,36,2005-10-07 23:00:00,2,5,0.7777,2,0,5,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,3
2005020020,0.4444,40,32,2005-10-07 23:00:00,7,3,0.5000,4,2,7,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,3
2005020021,0.4931,37,36,2005-10-07 23:00:00,2,2,0.7142,2,0,7,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020022,0.5000,28,28,2005-10-07 23:00:00,3,1,1.0000,0,1,5,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020023,0.5185,26,28,2005-10-07 23:30:00,0,2,1.0000,0,0,5,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,2
2005020024,0.5731,35,47,2005-10-08 00:00:00,1,4,1.0000,0,2,7,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,6
2005020025,0.5263,27,30,2005-10-07 23:30:00,3,6,0.7500,2,3,7,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,3
2005020026,0.5517,26,32,2005-10-08 23:00:00,5,4,0.5000,2,1,6,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,2
2005020027,0.5468,29,35,2005-10-08 23:00:00,0,5,1.0000,0,3,5,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020028,0.4062,38,26,2005-10-08 23:00:00,2,3,1.0000,0,1,5,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020029,0.4393,37,29,2005-10-08 23:00:00,1,8,0.8888,1,4,15,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2005020030,0.4305,41,31,2005-10-08 23:30:00,2,3,0.8750,1,1,5,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015030234,0.5483,28,34,2016-05-05 23:00:00,3,2,0.6666,1,1,3,...,4,3,5,5,1,1,2,3,3,6
2015030235,0.6000,20,30,2016-05-07 16:00:00,4,1,1.0000,0,0,2,...,3,5,4,4,3,4,2,4,2,3
2015030236,0.4925,34,33,2016-05-09 23:00:00,3,2,0.0000,1,0,2,...,3,5,5,1,1,2,3,3,6,2
2015030237,0.5964,23,34,2016-05-11 23:00:00,6,1,0.5000,1,0,3,...,5,4,4,3,4,2,4,2,3,1
2015030241,0.5396,29,34,2016-04-29 23:30:00,2,5,0.5000,1,2,3,...,3,0,3,2,5,2,4,1,1,3
2015030242,0.5161,30,32,2016-05-01 21:00:00,2,3,1.0000,0,1,2,...,0,3,2,5,2,4,1,1,3,5
2015030243,0.5737,26,35,2016-05-04 00:00:00,1,4,1.0000,0,2,5,...,5,2,5,3,2,4,3,0,1,3
2015030244,0.5686,44,58,2016-05-06 00:00:00,3,4,0.8000,1,0,5,...,2,5,3,2,4,3,0,1,3,4
2015030245,0.4576,32,27,2016-05-07 23:00:00,1,5,1.0000,0,1,3,...,3,2,5,2,4,1,1,3,5,3
2015030246,0.5849,22,31,2016-05-10 00:00:00,3,4,0.0000,1,0,1,...,5,3,2,4,3,0,1,3,4,4
2015030247,0.4920,32,31,2016-05-12 22:00:00,0,5,1.0000,0,2,3,...,2,5,2,4,1,1,3,5,3,5
2015030311,0.6034,23,35,2016-05-14 00:00:00,3,1,0.5000,1,1,4,...,0,4,5,6,5,2,6,3,3,4
2015030312,0.5000,33,33,2016-05-17 00:00:00,2,3,1.0000,0,0,2,...,4,5,6,5,2,6,3,3,4,1
2015030313,0.4687,34,30,2016-05-19 00:00:00,4,2,0.6666,1,0,1,...,2,3,0,3,3,5,1,3,4,4
2015030314,0.4843,33,31,2016-05-21 00:00:00,3,4,0.7500,1,1,4,...,3,0,3,3,5,1,3,4,4,2
2015030315,0.5441,31,37,2016-05-23 00:00:00,4,3,1.0000,0,0,3,...,5,6,5,2,6,3,3,4,1,3
2015030316,0.5571,31,39,2016-05-25 00:00:00,5,2,0.6666,1,0,1,...,0,3,3,5,1,3,4,4,2,4
2015030317,0.5846,27,38,2016-05-27 00:00:00,1,2,1.0000,0,0,5,...,6,5,2,6,3,3,4,1,3,3
2015030321,0.4285,40,30,2016-05-15 23:00:00,1,2,1.0000,0,1,2,...,5,5,1,1,2,3,3,6,2,2
2015030322,0.5490,23,28,2016-05-17 23:00:00,4,0,0.6000,2,0,6,...,5,1,1,2,3,3,6,2,2,2
2015030323,0.4074,32,22,2016-05-19 22:00:00,0,3,1.0000,0,0,2,...,5,2,4,1,1,3,5,3,5,5
2015030324,0.5084,29,30,2016-05-21 20:15:00,6,3,0.5000,2,0,5,...,2,4,1,1,3,5,3,5,5,3
2015030325,0.5344,27,31,2016-05-23 23:00:00,6,3,0.3333,2,1,3,...,1,1,2,3,3,6,2,2,2,0
2015030326,0.4576,32,27,2016-05-25 22:00:00,2,5,1.0000,0,0,3,...,4,1,1,3,5,3,5,5,3,3
2015030411,0.5322,29,33,2016-05-31 00:00:00,2,3,0.5000,1,0,3,...,5,2,6,3,3,4,1,3,3,2
2015030412,0.5479,33,40,2016-06-02 00:00:00,1,2,1.0000,0,0,2,...,2,6,3,3,4,1,3,3,2,3
2015030413,0.5200,36,39,2016-06-04 21:00:00,2,3,1.0000,0,0,3,...,1,1,3,5,3,5,5,3,3,5
2015030414,0.5522,30,37,2016-06-06 21:00:00,3,1,0.5000,1,0,2,...,1,3,5,3,5,5,3,3,5,3
2015030415,0.4857,36,34,2016-06-10 00:00:00,4,2,1.0000,0,1,3,...,6,3,3,4,1,3,3,2,3,2
2015030416,0.3518,35,19,2016-06-12 21:00:00,3,1,0.5000,1,0,2,...,3,5,3,5,5,3,3,5,3,1

In [70]:
@numba.jit
def slicer_jit(hist_vals,hist_idx,teamSlct,varCode,hist_len=10):
    returndf = {}
    # create columns
    cols = np.arange(1,hist_len+1)[::-1].astype('str')
    for i, item in enumerate(cols):
        cols[i] = teamSlct+'_'+varCode+'_L'+item
    # slicer itself
    for date in hist_idx:
        pos = np.searchsorted(hist_idx,date)
        slicer = hist_vals[:pos][-hist_len:]
        if len(slicer)<hist_len:
            slicer = list(-999*np.ones(hist_len-len(slicer))).append(slicer)
        returndf[date] = pd.Series(slicer,index=cols)
    return(returndf)

In [71]:
def slice_team_jit(df,teamSlct,varCode,hist_len=10):
    newdf = pd.DataFrame()
    for team in df[teamSlct].unique():
        hist_vals = df[df[teamSlct] == team][varCode].values
        hist_idx = df[df[teamSlct] == team].index
        rdf = slicer_jit(hist_vals,hist_idx,teamSlct,varCode)
        
    return(rdf)

In [77]:
dd = slice_team_jit(df,'teamAbbrevHome','goalsForHome')

In [79]:
kk = pd.DataFrame(dd)

In [83]:
kk

,2014020016,2014020030,2014020049,2014020072,2014020115,2014020183,2014020212,2014020229,2014020276,2014020320,...,2015020881,2015020963,2015020978,2015021059,2015021076,2015021097,2015021110,2015021127,2015021138,2015021177
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,1,3,2,4,1,4,6,6
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,3,2,4,1,4,6,6,4
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,2,4,1,4,6,6,4,1
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,2,4,1,4,6,6,4,1,5
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,4,1,4,6,6,4,1,5,3
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,4,6,6,4,1,5,3,0
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,4,6,6,4,1,5,3,0,4
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,6,6,4,1,5,3,0,4,3
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,6,4,1,5,3,0,4,3,2
teamAbbrevHome_goalsF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,4,1,5,3,0,4,3,2,2

In [64]:
cols=['L1','L2','L3','L4','L5']
vals=np.arange(5)
zip(cols,vals)

[('L1', 0), ('L2', 1), ('L3', 2), ('L4', 3), ('L5', 4)]

In [26]:
hist_vals = df[df['teamAbbrevHome'] == 'EDM']['goalsForHome'].values
hist_idx = df[df['teamAbbrevHome'] == 'EDM'].index
hist_idx

Int64Index([2005020014, 2005020036, 2005020070, 2005020092, 2005020111,
            2005020183, 2005020289, 2005020305, 2005020314, 2005020370,
            ...
            2015020936, 2015021000, 2015021026, 2015021036, 2015021049,
            2015021065, 2015021083, 2015021137, 2015021176, 2015021201],
           dtype='int64', name=u'gameId', length=445)

In [30]:
print(np.searchsorted(hist_idx,2005020470))

13

In [34]:
hist_vals[:13][-10:]

array([4, 3, 2, 3, 1, 5, 6, 3, 1, 2, 5, 4, 5])