# ELO

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:e2p71828@localhost:5432/nhlstats')

#loading dataframes from postgres
games = pd.read_sql('games',engine)
schedule = pd.read_sql('schedule',engine)

Processing the games dataframe to get the sum of goals within each game, converting it into the dataframe and merging with schedule to add goals.

In [63]:
goals = pd.DataFrame(games.groupby(['gameId','teamAbbrev']).goals.sum()).reset_index()
schedule = pd.merge(goals,schedule,on=['gameId','teamAbbrev'])
schedule.head()

       gameId teamAbbrev  goals              gameDate gameLocationCode
0  2005020001        BOS    1.0  2005-10-05T23:00:00Z                H
1  2005020001        MTL    2.0  2005-10-05T23:00:00Z                R
2  2005020002        BUF    6.0  2005-10-05T23:00:00Z                H
3  2005020002        NYI    4.0  2005-10-05T23:00:00Z                R
4  2005020003        NYR    5.0  2005-10-05T23:00:00Z                R

Calculate ELO loop. Brief description of algorithm:
1. Assign 1500 as a starting value to each team at the beginning of the season
2.

In [53]:
# schedule = schedule.apply(lambda row: get_goals_for_gameId(row), axis=1)
# goals[(goals.gameId == schedule.ix[2010020001].index)]
# schedule.ix[2010020001].index[0]
schedule[(schedule.gameId == 2005020001) & (schedule.teamAbbrev == 'BOS')]

                   gameDate teamAbbrev gameLocationCode      gameId
12930  2005-10-05T23:00:00Z        BOS                H  2005020001